<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>

    <h1>Add a Meal Prep</h1>

    <form action="/mealPrep" method="POST">
        Meal Name: <input name="mealName" type="text">
        <br><br>
        About: <input name="notes" type="text">
        <br><br>
        Ingredients: <input name="ingredients" type="text">
        <br><br>
        Instructions: <input name="instructions" type="text">
        <br><br>
        Protein: <input name="protein" type="number">
        <br><br>
        Fat: <input name="fat" type="number">
        <br><br>
        Carbs: <input name="carbs" type="number">
        <br><br>
        Calories: <input name="calories" type="number">
        <br><br>
        <input type="submit" value="CREATE MEAL">
    </form>
</body>
</html>